body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'sans-serif';
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 0.3em 1em;
    border-radius: 1em;
    font-size: 1.25em;
    background-color: #6a8591;
}

button:hover {
    background-color: #77c0df;
}

button:focus {
    background-color: #ce3000;
}

.title {
    display: flex;
    justify-content: center;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    color: #fff;
    margin: 2rem;
}

.nasa-title {
    margin: 2rem;
}

.date {
    margin: 2rem;
}

.nasa-description {
    margin: 2rem;
    text-align: justify;
}
